@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


.bg-blue{
	background-color: #213344;
}






/*section-footer*/
.after-footer{
	background-color: #293e52;
	color: #ffffff;
}
.after-footer ul{
	list-style: none;
	padding: 0;
}
.after-footer i{
	color: white;
}

/*footer*/

footer{
	color: #ffffff; 
	padding: 20px;
}
footer a,a:hover,a:focus{
	color: #ffffff;
	text-decoration: none;
	margin-right: 3%;
}