@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

<<<<<<< HEAD

.bg-blue{
	background-color: #213344;
}






/*section-footer*/
.after-footer{
	background-color: #293e52;
	color: #ffffff;
}
.after-footer ul{
	list-style: none;
	padding: 0;
}
.after-footer i{
	color: white;
}

/*footer*/

footer{
	color: #ffffff; 
	padding: 20px;
}
footer a,a:hover,a:focus{
	color: #ffffff;
	text-decoration: none;
	margin-right: 3%;
}
=======
/* NAV */

.bg-blue{
	background-color: #293E52;
}
.text-nav{
	color: #BCC3C7;
}
.active{
	background-color: #213344;
	color: white;
}
nav li a:hover{
	color: white;
}
.nav > li > a:hover{
	text-decoration: none;
	background-color: #213344;
}
button span i{
	color: #BCC3C7;
}
#293E52--BLUE
#2Bb73--VERDE BACKGROUND
#16BA9A--CORAZON
#BCC3C7--COLOR LETRA
#213344--ACTIVE BACKGROUND
>>>>>>> 98c41cb47eaf61cd00b4e4f811850c48cde315e1
